<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><b>IMDb Movies</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active">IMDb Movies<span class="sr-only">(current)</span></a> -->
        <a class="nav-item nav-link" routerLink="/imdb">IMDb</a>
        <a class="nav-item nav-link" routerLink="/movies">Movies</a>
        <a class="nav-item nav-link" routerLink="/topmovies">Top Movies</a>
        <a class="nav-item nav-link" routerLink="/toptv">Top Tv </a>
        <a class="nav-item nav-link" routerLink="/popularmovies">Popular Movies</a>
        <a class="nav-item nav-link" routerLink="/populartv">Popular Shows</a>
        <a class="nav-item nav-link" routerLink="/thearter">Thearter</a>
      </div>
    </div>
  </nav>
 