<!-- Displaying Coming Soon Movies -->
<h2>Coming Soon</h2>
<div class="row">
    <div class="card mb-2" *ngFor="let upcome of lstUpComingMovies" style="width: 18rem;">
        <div class="card-body" >
          <img src="{{upcome.image}}" class="card-img-top" alt="..." height="250">
          <h5 class="card-title">{{upcome.title}}</h5>
          <h6 class="card-subtitle mb-2 text-dark">{{upcome.year}}</h6>
        </div>
      </div>
</div>

<!-- Displaying Top 250 Movies -->
<h2>Top 250 Movies</h2>
<div class="row">
    <div class="card mb-2" *ngFor = "let topmovies of lstOfTop250Movies" style="width: 18rem;">
        <div class="card-body" >
          <img src="{{topmovies.image}}" class="card-img-top" alt="..." height="250">
          <h5 class="card-title">{{topmovies.title}}</h5>
          <h6 class="card-subtitle mb-2 text-dark">{{topmovies.year}}</h6>
        </div>
      </div>
</div>

<!-- Displaying Top 250 Tv Shows -->
<h2>Top 250 TV Shows</h2>
<div class="row">
    <div class="card mb-2"  *ngFor = "let toptv of lstOfTop250TvShows" style="width: 18rem;">
        <div class="card-body" >
          <img src="{{toptv.image}}" class="card-img-top" alt="..." height="250">
          <h5 class="card-title">{{toptv.title}}</h5>
          <h6 class="card-subtitle mb-2 text-dark">{{toptv.year}}</h6>
        </div>
      </div>
</div>





<!-- Displaying Popular Movies -->
<h2>Popular  Movies</h2>

<div class="row">
    <div class="card mb-2"  *ngFor="let popmovie of lstOfPopularMovies" style="width: 18rem;">
        <div class="card-body" >
          <img src="{{popmovie.image}}" class="card-img-top" alt="..." height="250">
          <h5 class="card-title">{{popmovie.title}}</h5>
          <h6 class="card-subtitle mb-2 text-dark">{{popmovie.year}}</h6>
        </div>
      </div>
</div>


<!-- Displaying Popular Tv Shows -->
<h2>Popular  Tv Shows</h2>
<div class="row">
    <div class="card mb-2" *ngFor="let poptv of lstOfPopularTvs" style="width: 18rem;">
        <div class="card-body" >
          <img src="{{poptv.image}}" class="card-img-top" alt="..." height="250">
          <h5 class="card-title">{{poptv.title}}</h5>
          <h6 class="card-subtitle mb-2 text-dark">{{poptv.year}}</h6>
        </div>
      </div>
</div>



<!-- Displaying InThearters Movies -->

<h2>In Thearters</h2>
<div class="row">
    <div class="card mb-2" *ngFor="let intheat of lstOfThearters" style="width: 18rem;">
        <div class="card-body" >
          <img src="{{intheat.image}}" class="card-img-top" alt="..." height="250">
          <h5 class="card-title">{{intheat.title}}</h5>
          <h6 class="card-subtitle mb-2 text-dark">{{intheat.year}}</h6>
        </div>
      </div>
</div>

