<h2>Coming Soon</h2>
<ul *ngFor = "let upcome of lstUpComingMovies">
    <li>{{upcome.id}}</li>
    <li>{{upcome.title}}</li>
    <li>{{upcome.year}}</li>
    <li>{{upcome.releaseState}}</li>
    <li>{{upcome.image}}</li>
    <li>{{upcome.genres}}</li>

    
</ul>

<h2>In Thearters</h2>
<ul *ngFor = "let intheat of lstOfThearters">
    <li>{{intheat.id}}</li>
    <li>{{intheat.title}}</li>
    <li>{{intheat.year}}</li>
    <li>{{intheat.releaseState}}</li>
    <li>{{intheat.image}}</li>
    <li>{{intheat.genres}}</li>

    
</ul>